<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>购物车</title>
<hdjs/>
<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/mycart.css" />
<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/public.css" />
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/jquery.js"></script>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/mycart.js"></script>
</head>
<body>
<body>
	<!-- top start-->
	<div id="top">
		<div class="top">
			<div class="left">
				<if value="{$hd.session.username}==''">
				<span>欢迎光临优美购！</span>
				<a href="{|U:'User/login'}">登录</a>  |  <a href="{|U:'User/register'}">注册</a>
				<else/>
				<!-- 管理员登录后 -->
				<span>欢迎{$hd.session.username}光临优美购！</span>
				<a href="{|U:'User/out'}">退出</a>
			</if>
			</div>
		</div>
	</div>
	<!-- top end -->
	<!-- big start -->
	<div id="big">
		<div class="logo">
			<img src="__CONTROLLER_VIEW__/image/logo.png" alt=""  />
		</div>
		<div class="cart_right"></div>
	</div>
	<div class="cart_body">
		<div class="cart_main">
			<div class="title">
				<dl class="top">
					<dt>
						<input type="checkbox" name="" id="" onclick="select_all('.shop_list');" checked="" />
					</dt>
					<dd class="qb">全部</dd>
					<dd class="sp">商品</dd>
					<dd class="dj">单价</dd>
					<dd class="sl">数量</dd>
					<dd class="jexj">金额小计</dd>
					<dd class="cz">操作</dd>
				</dl>
			</div>
			<!-- 购买的商品列表 -->
			
			<div id="goods">
			
			<empty value="{$hd.session.cart}" >
			<!-- 购物车为空时显示 -->
				<div class="buygoods" style="margin-bottom:none;margin-bottom:50px">
					<div class="w980">
						<div class="section">
							<dl>
								<dt>您的购物车中没有商品，您可以：</dt>
								<dd>
									 1. 如果您还未登录，可能导致购物车为空，请&nbsp;<a href="{|U:'Index/User/login'}">登录</a><br>                            2. <a href="{|U:'Index/Index/index'}">立即选购商品&gt;&gt;</a> 
								</dd>
							</dl>
						</div>
					</div>
					<div style="float:left;height:50px;border-bottom:1px solid #EBEBEB; width:1198px"></div>
				</div>
			<noempty/>
				<div class="buygoods">
					<div class="shop">
						<div class="title">
							<span class="shangjia">下商品由 优美购 发货</span>
							<span class="yunfei">免配送费</span>
						</div>
						<!-- 购买的商品列表 -->
						<div class="shop_list">
							<list from="{$hd.session.cart.goods}" name="$d">
							<div class="list" id="{$d.cartId}" action="__ACTION__">
								<dl class="top">
									<dt>
										<input type="checkbox" name="" checked="" />
									</dt>
									<dd class="sp">
										<span class="left_img">
											<a href="">
											<img src="__ROOT__/{$d.img}" alt="" /></a>
										</span>
										<span class="goodsinfo">
											<span class="content">
												<a href="javascript:;">{$d.goods_name}（180912436） </a>
											</span>
											<span class="info">
												品牌：{$d.brand}
												<list from="$d.goods_attr" name="$c">
													   {$c.attr_name}：{$c.attr_value}  
												</list>　
											</span>
										</span>
									</dd>
									<dd class="dj">
										<p class="price">
											<span class="price_icon">￥</span>
											<span class="danjia">{$d.price}</span>
										</p>
									</dd>
									<dd class="sl">
										<a href="javascript:;" class="sub">-</a>
										<input type="text" value="{$d.num}" name="jian"  />
										<a href="javascript:;"class="add">+</a>
									</dd>
									<dd class="jexj">
										<span class="price_icon">￥</span>
										<span class="total">{$d.totalPrice}</span>
									</dd>
									<dd class="cz">
										
										<p class="yichu"><a href="javascript:;" class="delete" onclick="del(this,'{$d.cartId}')">移除</a></p>
									</dd>
								</dl>
							</div>
							</list>

						</div>	
					</div>
				</div>
				<!-- 结算 -->
				<div class="jiesuan">
					<div class="top"></div>
						<div class="goodsmoney">
							<div class="zj">
								商品数量总计：
								<span class="number">{$hd.session.cart.totalNum}件</span>
								<span class="money"> 折后商品金额总计:</span>
								<span class="rmb">￥</span>
								<span class="allmoney">{$hd.session.cart.totalPrice}</span>
							</div>
						</div>
						<div class="jiesuansub">
							<div class="right">
								<a href="javascript:;" class="tijiaosub" onclick="jiesuan('{$hd.session.username}','{|U:'Cart/order'}')">去结算</a>
							</div>
						</div>
					</div>
				</div>
			</empty>
			</div>
			

			
		</div>
	</div>
	<!-- big end -->
	<!-- 修改布局 -->
	<!-- <div id="xiugai">
		<div class="top">
			<span class="title">选择颜色尺码</span>
			<i class="icon i" >&#xf00b3;</i>
		</div>
		<div class="xiugai_content">
			<div class="body">
				<div class="shopimg">
					<img src="image/xiugaishoping.jpg" alt="" width="100" />
				</div>
				<div class="shop_info">
					<div class="color">
						<ul style="width:100%">
							<li><b>时尚印花两面穿呢绒大衣</b></li>
							<li class="tit">颜色:</li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	<!-- 登录界面 -->
		<div id="login" style="display:none">
			<div class="memberlogin">
				<span class="membername">会员登录</span>
				<i class="iconfont" style="float:right;line-height:22px;color:#fff;cursor:pointer" id="guanbi">&#xf00b3;</i>
			</div>
			<div class="member_content "  id="userlogin">
				<h2 class="title">
					<img src="__CONTROLLER_VIEW__/image/l_16_01.jpg" alt="" />
					<img src="__CONTROLLER_VIEW__/image/l_16_02.jpg" alt="" id="img_register"/>
				</h2>
				<!-- 用户登录信息 -->
				<form method="post" name="login"  onsubmit="return _login(this,'{|U:'Cart/order'}')" >
					<div class="user_info">
						<div class="user_info_l">
							<div id="loginMsg"></div>
							<div class="f_item">
								<label class="i_label">邮箱:</label>
								<input name="email" id="email" class="i_text" placeholder="请输入邮箱" type="text">
							</div>
							<div class="f_item">
								<label class="i_label">登录密码:</label>
								<input name="password" id="password" class="i_text" placeholder="请输入密码" type="password">
							</div>
							<div class="f_item">
								<label class="i_label">验证码:</label>
								<input name="code" id="code" class="i_text_checkCode" placeholder="请输入验证码" type="text">
								<span class="check_code">
									<img src="{|U:'Login/code'}" alt="" class="checkCodeImg" />
									<span style="float:left;margin-left:10px;cursor: pointer;line-height:22px" id="clickcode"> 换一张</span>
								</span>
								
							</div>
							<div class="f_item" style="padding-top: 12px;height: 75px;">
								<label class="i_label"></label>
								<input type="submit" value="登录" class="i_btn_ok" />
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- 用户注册 -->
			<div class="member_content" id="register" style="display:none">
				<h2 class="title">
					<img src="__CONTROLLER_VIEW__/image/l_17_01.jpg" alt="" id="img_login"/>
					<img src="__CONTROLLER_VIEW__/image/l_17_02.jpg" alt="" />
				</h2>
				<!-- 用户注册信息 -->
				<div class="user_info">
					<div class="user_info_l">
						<form  method="post" name="register" onsubmit="return _registers(this)">
							<div id="loginMsg"></div>
							<div class="f_item">
								<label class="i_label">用户名:</label>
								<input name="username" id="username" class="i_text" placeholder="请输入用户名" type="text">
							</div>
							<div class="f_item">
								<label class="i_label">邮箱:</label>
								<input name="email" id="email" class="i_text" placeholder="请输入邮箱" type="text">
							</div>
							<div class="f_item">
								<label class="i_label">设置密码:</label>
								<input name="password" id="password" class="i_text" placeholder="请输入密码" type="password">
							</div>
							<div class="f_item">
								<label class="i_label">确认密码:</label>
								<input name="repassword" id="repassword" class="i_text" placeholder="请输入确认密码" type="password">
							</div>
							<div class="f_item">
								<label class="i_label">验证码:</label>
								<input name="code" id="code" class="i_text_checkCode" placeholder="请输入验证码" type="text">
								<span class="check_code">
									<img src="{|U:'Login/code'}" alt="" class="checkCodeImg" />
									<span style="float:left;margin-left:10px;cursor: pointer; line-height:22px" id="clickcode"> 换一张</span>
								</span>
								
							</div>
							<div class="f_item" style="padding-top: 12px;height: 75px;">
								<label class="i_label"></label>
								<input type="submit" value="注册" class="i_btn_ok" />
							</div>

						</form>

					</div>
				</div>
			</div>
        </div>
	<!-- 登录界面结束 -->
	<!-- 遮罩 -->
	<div class="zhezhao"></div>

	<!-- foot start -->
	<include file="__CONTROLLER_VIEW__/bottom.html"/>
	<!-- foot end -->
</body>
</html>