<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>评论管理</title>
    <hdjs/>
    <bootstrap/>
    <css file="__STATIC__/css/common.css"/>
</head>
<body>
<div class="wrap">
    <table class="table2">
        <thead>
    		<tr>
				<td width="7%">id</td>
				<td width="10%">用户</td>
				<td width="20%">文章标题</td>
				<td width="40%">评论内容</td>
				<td width="15%">评论时间</td>
				<td>操作</td>
			</tr>
        </thead>
        <tbody>
         <foreach from="$data" value="$v">
        	<tr>
                <td width="7%">{$v.coid}</td>
                <td width="10%">{$v.nickname}</td>
                <td width="20%">{$v.title}</td>
                <td width="40%">{$v.comcon}</td>
                <td width="15%">{$v.addtime|date:'Y-m-d H:i:s',@@}</td>
                <td><a href="{|U:'Comment/del',array('coid'=>$v['coid'])}">删除</a></td>
            </tr>
        </tbody>
        </foreach>
    </table>
    <div class="page_hdjob">
      	
    </div>
</div>

</body>
</html>


