<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>标签管理</title>
    <hdjs/>
    <bootstrap/>
    <style type="text/css">
		table{
			color: #666;
		}
    </style>
    <css file="__CONTROL_TPL__/css/css.css"/>
</head>
<body>
<div class="wrap">
    <div class="title-header">添加标签</div>
    <form action="" method="post" class="form-inline hd-form">
        <table class="table1">
            <tr>
                <th class="w100">标签名称</th>
                <td width="300">
                    <textarea name="tagname" style="width:280px;" cols="20" rows="8"></textarea>
                </td>
                <td>多个标签，以【逗号，空格，或者换行符分割】</td>
            </tr>
        </table>
         <input type="submit" class="hd-success" value="添加" style="margin-top:20px;margin-left:20px;"/>
    </form>
</div>
</body>
</html>