<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>修改个人信息</title>
<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/userInfo.css" />
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/jquery.js"></script>
<hdjs/>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/userInfo.js"></script>

</head>
<body>

	<div class="h_section_R">
		<div class="txtbox">
			<h2></h2>
			<form action="" method="post" onsubmit="return _userinfo(this)" >
				<div class="txt">
					<h3>修改个人信息</h3>
					<div class="txtsm">
						恭喜您成为优美购会员！请完整填写以下个人信息（<span class="red">*</span> 为必填）
            		</div>
            		<table  class="tleft" width="100%" border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr >
								<td width="88" style="width:90px;">
									<span class="red">*</span>  邮箱：
								</td>
								<td colspan="2">
									<input type="text" name="tel" value="{$data.email}" />
								</td>
							</tr>
							<tr>
								<td>
									<span class="red">*</span> 真实姓名：
								</td>
								<td colspan="2" style="text-align: left">
									<input type="text" name="name" value="{$data.name}" />
									<label class="error" id="truenameinfo">请输入真实姓名</label>
								</td>
							</tr>
							<tr>
								<td>
									<span class="red">*</span> 省/市/区县：
								</td>
								<td colspan="2" style="text-align: left">
									<select name="province" id="province" onchange="_province(this)">
										<option value="0">请选择省份</option>
										<list from="$province" name="$d">
											<option value="{$d.ProvinceID}" <if value="{$d.ProvinceName}=={$data.province}"> selected=""</if>>{$d.ProvinceName}</option>
										</list>
									</select>
									<select name="city" id="city" onclick="_city(this)">
										<option value="0">请选择城市</option>
										<list from="$city" name="$d">
											<option value="{$d.CityID}" <if value="{$d.CityName}=={$data.city}"> selected=""</if>>{$d.CityName}</option>
										</list>
									</select>
									<select name="area" id="district">
										<option value="0">请选择区/县</option>
										<list from="$area" name="$d">
											<option value="{$d.DistrictID}" <if value="{$d.DistrictName}=={$data.area}"> selected=""</if>>{$d.DistrictName}</option>
										</list>
									</select>

									<label  id="areainfo"></label>
								</td>
							</tr>
							<tr>
								<td>
									<span class="red">*</span> 联系地址：
								</td>
								<td colspan="2" style="text-align: left">
									<input type="text" class="px300" name="addr_content" value="北京市朝阳区小营路5号四方大厦1825" />
									<label  id="addressinfo"></label>
								</td>
							</tr>
							<tr>
								<td>
									<span class="red">*</span>  邮政编码：
								</td>
								<td colspan="2" style="text-align: left">
									<input type="text" name="postcode" id="postcode" value="1232131" />
									<label  id="postcodeinfo"></label>
								</td>
							</tr>
							<tr>
								<td>
									<span class="red">*</span>  手机：
								</td>
								<td colspan="2" style="text-align: left">
									<input type="text" name="phone"  value="15990531230" />
									<label  id="phoneinfo"></label>
								</td>
							</tr>
							<tr>
								<td>
									<span class="red">*</span>  手机：
								</td>
								<td colspan="2" style="text-align: left">
									<input type="text" name="phone"  value="010-132113121" />
									<label  id="telinfo"></label>
								</td>
							</tr>
							<tr>
								<td></td>
								<td colspan="2" style="text-align: left">
									<input type="submit"  value="提交" class="btn" id="savemessage"/>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</form>
		</div>
	</div>
</body>
</html>