/* 
* @Author: 李勇
* @Date:   2014-12-06 21:01:39
* @Last Modified by:   Administrator
* @Last Modified time: 2014-12-07 11:44:23
*/
*{
	padding: 0px;
	margin:0px;
	line-height: 22px;
	font-family: 宋体;
	font-size: 12px;
}
img{
	border: none;
}
.h_section_R {
    width: 792px;
    margin: 0 auto;
}
.txtbox {
    float: left;
    width: 792px;
}
.txtbox h2 {
    float: left;
    width: 770px;
    height: 9px;
    font-size: 12px;
    overflow: hidden;
}
.txt {
    padding: 3px 0px 20px;
    float: left;
    width: 792px;
}
.txt h3 {
    border-bottom: 1px dashed #CCC;
    float: left;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 790px;
    font-size: 14px;
    position: relative;
}
.txtsm {
    float: left;
    padding: 0px 0px 5px;
    width: 790px;
    color: #666;
}
span.red {
    color: #E90157;
}
.tleft{
	float: left;
}
.tleft td {
    text-align: left;
    padding: 5px 5px 5px 0px;
}
a.red {
    color: #AB0036;
    font-size: 12px;
    text-decoration: underline;
}
label.error {
    background: url('../image/error.gif') no-repeat scroll left center transparent;
    padding-left: 20px;
    color: #900;
}
label.success {
    background: url('../image/ok.gif') no-repeat scroll left center transparent;
    padding-left: 20px;
    color: #390;
}
input.btn {
    height: 20px;
    line-height: 15px;
    border: 1px solid #999;
    background: url('../image/imgs.gif') repeat-x scroll left -483px transparent;
    padding: 0px 5px;
    overflow: visible;
    width: auto;
    cursor: pointer;
}
input.px300 {
    width: 300px;
    height: 17px;
    padding-top: 2px;
}





















