<!-- @author 李勇 626375290@qq.com -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>商品属性列表</title>
<hdjs/>
</head>
<body>
	<div class="warp">
		<div class="menu_list hd-form">
			<ul>
				<li>
					<a href="{|U:'add',array('cat_id'=>Q('cat_id'))}">添加商品属性</a>
				</li>
				<li>
					<select onchange="changeGoodsType(this)">
						<option value="0">==请选择类型==</option>
						<list from="$goods_type" name="$d">
							<option value="{$d.cat_id}"<if value="{$d.cat_id}==Q('cat_id')">selected=''</if>>{$d.cat_name}</option>
						</list>
					</select>
				</li>
			</ul>
		</div>
		<table class="table2">
			<thead>
				<tr>
					<td>ID</td>
					<td>商品属性名</td>
					<td>商品属性类型</td>
					<td>录入方式</td>
					<td>操作<td>
				</tr>
			</thead>
			<tbody>
				<list from="$data" name="$d">	
				<tr>
					<td>{$d.attr_id}</td>
					<td>{$d.attr_name}</td>
					<td>{$d.attr_type_text}</td>
					<td>{$d.attr_input_type_text}</td>
					<td>
						<a href="{|U:'edit',array('attr_id'=>$d['attr_id'],'cat_id'=>$d['cat_id'])}">编辑</a>
						<a href="{|U:'del',array('attr_id'=>$d['attr_id'])}">删除</a>
					</td>
				</tr>
				</list>
			</tbody>
		</table>
	</div>
	<js file="__CONTROLLER_VIEW__/Js/index.js"/>
</body>
</html>