<!-- @author 李勇 626375290@qq.com -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<hdjs/>
<title>添加商品类型</title>
</head>
<body>
	<div class="warp">
	<div class="menu_list ">
		<ul>
			<li ><a href="{|U:'index'}" class="action">商品类型列表</a></li>
			<li><a href="{|U:'add'}">添加商品类型</a></li>
		</ul>
	</div>
		<div class="title-header">添加商品类型</div>
		<form  method="post">
			<table class="table2 hd-form">	
				<tr>
					<th class="w100">商品类型名称</th>
					<td>
						<input type="text" class="w200"  name="cat_name" />
					</td>
				</tr>
				<tr>
					<th></th>
					<td><input type="submit" value="添加" class="hd-success" /></td>
				</tr>
			</table>
			
		</form>
	</div>
</body>
</html>