<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>支付宝配置</title>
<hdjs/>
<!-- <bootstrap/> -->
</head>
<body>
	<form class="form1" method="post">

		<div class="menu_list hd-form">
			<ul>
				<li>
					<a href="javascript:;">支付宝设置</a>
				</li>
			</ul>
		</div>
		<table class="table2 hd-form">
				<tr>
					<th>账号：</th>
					<td>
						<input type="text" class="w200" name="accont" value="{$accont}" />
					</td>
				</tr>
				<tr>
					<th>PID：</th>
					<td>
						<input type="text" class="w200" name="pid" value="{$pid}" />
					</td>
				</tr>
				<tr>
					<th>KEY：</th>
					<td>
						<input type="text" class="w250" name="key" value="{$key}" />
					</td>
				</tr>
				<tr>
					<th >
					</th>
					<td >
						<input class="hd-success" type="submit" value="保存">
					</td>
				</tr>
		</table>

	</form>
</body>
</html>
